<div>
  <input #name/>
  <button (click)="addHero(name.value)">Add Hero</button>

<ul class="heroes">
  <h4>My Heroes</h4>
  <!--Loops through the heroes array for every hero in it.-->
  <li *ngFor="let hero of heroes"  [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      {{hero.name}} 
      <button class="delete" title="delete hero" (click)="deleteHero(hero.id)">X</button>
  </li>
</ul>
<!-- Injects the hero-details component and passes in the selectedHero into the @Input hero property -->
<app-hero-details [hero]="selectedHero"></app-hero-details>
</div>
